.navbar {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 100;
  padding-left: 175px;
  padding-top: 25px;
  padding-right: 170px;
  transition: all ease-in 0.2s;

  &.scrolled {
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: 1200px) {
      height: 10vh;
    }
  }

  .container {
    display: flex;
    align-items: center;

    justify-content: space-between;

    img {
      height: 70px;
      width: 70px;
      cursor: pointer;

      @media only screen and (max-width: 1500px) {
        height: 60px;
        width: 60px;
      }

      @media only screen and (max-width: 1200px) {
        height: 50px;
        width: 50px;
      }
    }

    .right {
      color: white;

      .mobileIcon {
        display: none;
        font-size: 2rem;
        cursor: pointer;

        @media only screen and (max-width: 1200px) {
          display: block;
        }
      }

      ul {
        display: flex;
        list-style: none;

        li {
          font-size: 28px;
          margin-right: 50px;
          cursor: pointer;

          span {
            color: var(--main-color);
            font-family: "consolas", sans-serif;
          }
        }

        @media only screen and (max-width: 1200px) {
          display: none;
        }
      }
    }
  }

  @media only screen and (max-width: 1800px) {
    padding: 25px 75px;
  }

  @media only screen and (max-width: 1200px) {
    padding: 15px 50px;
  }
}
