:root {
  --main-color: #61dafb;
  --grey-bg: #4f5664;
  --grey-light: #838996;
}

$bp-largest: 112.5em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  background-color: var(--grey-bg);
}

.body {
  max-width: 130rem;
}
